* {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;

}

img {
	width: 100%;
}


a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 28px;
}


ul {
	list-style: none;
}

button,
input,
select,
textarea {
	outline: 0 !important;
}


/*header css start*/

header {
	background: #fff;
	z-index: 5000;
	position: sticky;
	top: -109px;

}

.close_side{
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 500;

}

.card-body  ul{
	line-height: 4;
}



.card-header .btn-link {
    font-weight: 400;
    color: #000000 !important;
    text-decoration: none;
    width: 100%;
    text-align: left;
    outline: 0 !important;
}

.btn-link, .btn-link:focus{
	box-shadow: 0 !important;
}



.btn-link:focus{
	box-shadow: none !important;
}


.brand_logo img {
	width: 130px;
}

.top_serch {
	position: relative;
}

.top_serch input {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	height: 47px;
	padding-left: 20px;
	border-color: #c9c9c9;
	border: 1px solid #c9c9c9;
}


.top_serch img {
	position: absolute;
	right: 15px;
	width: 25px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.side_link img {
	width: 30px;
}


.icn_label {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: 3px;
	display: block;
	color: #000;
	text-decoration: none;
}


.top_menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin-bottom: 0;
	line-height: 3;
}


.top_menu ul li {
	font-size: 14px;
	z-index: 50;
	font-weight: 500;


}


.top_menu ul li:hover .sub_menu {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}




.sub_menu {
	position: absolute;
	width: 100%;
	top: 43px;
	left: 0;
	right: 0;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease-in-out;
	transform: translateY(-10px);
	background: #fff;
}

.first_ul li {
	padding: 0 30px;
}


.first_ul {
	position: relative;
}

.sub_menu h6 {
	color: #52483e;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.sub_menu ul {
	display: grid;
	grid-template-rows: repeat(6, auto);
	grid-column-gap: 20px;
	grid-auto-flow: column;
	line-height: 2;
}

.sub_menu ul li {
	margin-bottom: 8px;
	color: #52483e;
	padding: 0;
}

.sub_menu ul li:hover {
	color: #74aa62;
	text-decoration: underline;
}

.sub_menu .col-md-3 {
	border-right: 2px dotted #dadada;
}

/*header css end*/


/*categories css start*/

.cat_gory .col {
	height: 188px;
}

.cat_gory .col img {
	height: inherit;
	transition: 0.2s ease-in-out;
}

.cat_gory .col div {
	height: inherit;
	overflow: hidden;
}

.cat_gory .col:hover img {
	transform: scale(1.1);
}

.cat_gory .col h4 {
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .5px;
}



/*slider css start*/

.swiper-button-next,
.swiper-button-prev {
	color: #fff !important;
	background: #615f60;
	width: 40px !important;
	/*box-shadow: 0 8px 10px 5px rgb(0 0 0 / 5%);*/
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 20px !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: -30px !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: -30px !important;
}


.brand_row img {
	height: 55px;

}


/*slider css end*/



.bor_ra p {
	margin-top: 10px;
	margin-bottom: 1rem;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	font-size: 16px;
}


.price_box_cut {
	color: red;
	font-weight: 700;
}

.price_box p {
	font-weight: 700;
}


.price_box_cut del {
	font-size: 12px;
}

.view_btn {
	cursor: pointer;
	background: #f38d64;
	border: 0;
	color: #ffff;
	height: 40px;
	padding: 0 15px;
}


.bor_ra button {
	cursor: pointer;
	background: #f38d64;
	border: 0;
	color: #ffff;
	height: 40px;
	width: 100%;
}

.price_box p span {
	color: #d0d0d0;
}

/*categories css end*/


/*image 360 deg start*/

.img_ab {
	position: absolute;
	width: 50%;
	right: 0;
}

.auto-rotate {
	background-color: #ff7675;
	color: #2d3436;
}


.stop.auto-rotate {
	background-color: #d63031;
	color: #dfe6e9;
}

.font_50 {
	font-size: 50px;
	font-weight: 600;
}

.short_text {
	color: #c6c61f;
	font-weight: 600;
}

/*image 360 deg end*/

/* filter css start */

.modal{
	background: #fff;
	z-index: 70000;
}

.filter ul {
	display: flex;
	line-height: 3;
	margin: 0;
	list-style: none;
	padding: 0;
	border: 1px solid #9999;

}

.btn.btn-filter{
	border: 1px solid #dee2e6;
}

.filter .fa {
	padding-left: 10px;
}

.filter ul li a {
	font-size: 14px;
	padding: 3px 18px 0px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;

}



.sub_cat input {
	width: 20px;
	height: 20px;
}

.sub_cat{
	border: 1px solid #9999;
	border-top: 0;
}

.sub_sp {
	font-size: 14px;
	margin-left: 32px;
}

.sub_sp1 {
	margin-left: 25px;
	color: #000000;
	font-size: 14px;
}



/* filter css and */


/*products details css start*/

.details_page .swiper-slide{
	border: 1px solid #e1e1e1;
}


.write_rat span{
	color: #4bae4f;
	text-decoration: underline;
	font-size:11px;
}



.det_text p{
	font-size: 14px;
}

.stok{
	color: #1f91d2;
}

.old_price{
	color: #999;
}

.old_price del{
	font-weight: 500;
    font-size: 14px;
}

.special_price{
	color: #212121;
    font-weight: 500;
    font-size: 15px;
}

.deal_percent{
	margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    vertical-align: middle;
    letter-spacing: -.2px;
}

.deal_percent span{
	background: #1f91d2;
    border: 1px solid #1f91d2;
    padding: 3px 10px;
    border-radius: 20px;
}


.price_label{
	font-weight: 500;
    font-size: 28px;
    color: #212121;
}
.taxnote{
	font-size: 12px !important;
    padding-top: 2px;
    color: #ff3333 !important;
}

.qty-block {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.qty-block input{
	padding: 7px 10px;
    border: solid 1px #C95E16;
    color: #999;
    outline: none;
    line-height: normal;
    border: 1px solid #555 !important;
	padding: 10px 10px;
	margin: 0;
	width: 75px !important;
	height: 42px;
	font-size: 16px;
    font-weight: 500;
    color: #333;
    outline: 0;
    text-align: center;
}

.cart-plus-minus .btn.cart-plus-1 {
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.qty-block .min-qty {
    font-size: 11px;
    color: #737373;
    font-weight: 400;
}


.qty-block label {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}


.cart-plus-minus {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}


.cart-plus-minus .btn.cart-minus-1 {
    border-right: 0;
    border-radius: 5px 0 0 5px;
}


.cart-plus-minus .btn {
    width: 30px;
    height: 42px;
    border: 1px solid #555;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #323232;
    text-align: center;
    line-height: 42px;
    padding: 0;
    background: #edeee6;
}

.add_btn {
    width: 100%;
    background: #ff9501;
    border: 0;
    color: #fff;
    height: 44px;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 5%);
}


.pro_btn {
    width: 100%;
    background: #1d93bb;
    border: 0;
    color: #fff;
    height: 44px;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 5%);
}



.text_uper{
	text-transform: uppercase;
	width: 100%;
	font-weight: 500;
	color: #323232;
}

.pos_sti{
	position: sticky;
	top: 0;
}




/*specification css start*/

.data-table,tr,td,th{
	border: 1px solid #e1e1e1;
	border-collapse: collapse;
}


.data-table tr:nth-child(even){
	background: #f1f1f1;
}

/*specification css end*/

/*products details css end*/





/*login css start*/

h2.title{
	position: relative;
}

h2.title::after{
	width: 30px;
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	border-bottom: 3px solid #c5a981;
	margin-left: -15px;
	margin-top: 7px;
}

.gry_col{
	color: #888888;
}


.login_sec input{
	border: 1px solid #ddd;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	height: 35px;
	line-height: 35px;
	width: 100%;
	font-size: 14px;
	padding: 0 9px;
	vertical-align: baseline;
	outline: 0 !important;
}

a.knw_btn {
    background: #ff9501;
    height: 44px;
    border: none;
    color: #fff;
    padding: 0 13px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*login css end*/



/*cart css start*/

.cart_table th,td{
	border: 0;
}

.cart_table{
	width: 100%;
}


.cart_table img{
	width: 100px;
}

.cart_table th{
	font-size: 14px;
	font-weight: 500;
}

.side_cart td{
	line-height: 3;
	padding-left: 15px;
	padding-right: 10px;
}



/*cart css end*/


/*checkout css start*/

.method_span{
    display: inline-flex;
    background: #ff9501;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
}


.checkout_colm input[type="email"],input[type="text"],input[type="number"],select{
	width: 100%;
	height: 40px;
	font-size: 14px;
	padding:0 15px;
	margin-bottom: 1rem;
	border: 1px solid #c1c1c1;
}

sub{
	bottom: 0;
	color: red;
}

.checkout_colm textarea{
	width: 100%;
	border: 1px solid #c1c1c1;
}

.checkout_colm label{
	font-size: 14px;
}

.checkout_colm {
	line-height: 2;
}

.meth_pay{
	border: 1px solid #c1c1c1;
}


.meth_pay .col-9{
	padding-top: 15px;
	padding-bottom: 15px;
}

.meth_pay .col-2{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
}

.meth_pay .col-1{
    background: #edeee6;
    display: flex;
    align-items: center;
    justify-content: center;
}


.meth_pay p{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}


/*checkout css end*/


/*wishlist css start*/

.remove_wish{
    width: 25px;
    position: absolute;
    right: 15px;
    z-index: 20;
    top: 0;
    background: #ff9501;
}

/*wishlist css end*/



/*footer css start*/

.footer{
	background: #edeee6;
	padding: 60px 0;
}


.footer h5{
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: .5px;
	text-transform: uppercase;
	margin-bottom: 22px;
	position: relative;
	margin-top: 0;
}

.footer p{
	font-size: 12px;

}

.footer ul li{
	margin-bottom: 4px;
	font-size: 14px;
}


.footer input{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 83%;
}

footer i{
	font-size: 26px !important;
}

/* footer css end */



/*media query css start*/

@media(min-width: 300px) and (max-width: 900px){

	header{
		top: 0;
		box-shadow: 0px 6px 20px rgb(0 0 0 / 12%)
	}

	.cat_gory .col{
	height: auto;
	width: 50% !important;
	flex-basis: auto;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 50%;
	margin-bottom:15px;
	}


	.brand_logo{
		display: flex;
		justify-content: center;
	}

	.side_bar{
		position: fixed;
		left: 0;
		top: 0;
		background: #fff;
		z-index: 5000;
		height: 100%;
		width: 100%;
		transform: translateX(-900px);
		transition: 0.5s ease-in-out;
		overflow: auto;
	}

	.first_ul{
		display: block !important;
	}

	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: 10px !important;
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: 10px !important;
	}

	.mar_15{
		margin: 15px;
	}


	.footer h4{
		text-align: center;
	}

	footer .view_btn{
		width: 134px;
	}

	.top_menu ul li{
		position: relative;
		border-bottom: 1px solid #dadada;
	}

	.sub_menu{
		position: relative;
		top: 0;
		visibility: visible;
		opacity: 1;
		display: none;
	}

	.top_menu ul li::after{
		content: '';
		position: absolute;
		display: inline-block;
		height: 10px;
		width: 10px;
		border-color: #74aa62;
		border-style: solid;
		border-width: 1px 1px 0 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 50%;
		margin-top: -5px;
		right: 15px;
	}

	.sub_menu .col-md-3{
		border: none;
	}

	.top_menu ul{
		overflow: scroll;
		height: inherit;
	}

	.top_menu ul li:hover .sub_menu{
		display: block;
	}


	.top_menu ul li:hover::after{
		transform: rotate(134deg);
	}

	.mob_btn{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 500;
	}

	.add_btn{
		margin-bottom: 1rem;
	}

	.cart_table tr{
		/*display: block;*/
		position: relative;
	}

	.cart_table th{
		display: block;
		position: relative;
	}

	.cart_table td{
		display: block;
		position: relative;
	}


	.data-table, td{
		padding-left: 15px;
		padding-right: 15px;
		width: 100% !important;
	}

	.cart_table img{
		width: 50%;
	}

	.cart_table .data-table, td.pl-1{
		right: 0;
		top: 15px;
		position: absolute;
		width: auto !important;
	}

	.side_cart tr{
		display: flex !important;
	}

	.not_show{
		display: none;
	}

}


/*media query css end*/
